.highlight{
    font-size: larger;
}
.texts{
    color: gray;
}
.pic{
    box-shadow: 2px 2px 5px gray;
}
.home{
    background-color: rgb(255, 255, 255);
}
.button-text{
    color: gray;
}
.button{
    border: 1px solid gray;
}
.anchors{
    text-decoration: none;
    color: black; 
}
.anchors1{
    text-decoration: none;
}
.font{
    font-family: roboto;
}
