.highlight{
    font-size: larger;
}
.texts{
    color:gray;
}
.pic{
    box-shadow: 2px 2px 5px gray;
}
.home{
    background-color: rgb(255, 255, 255);
}
.button-text{
    color: gray;
}
.shadowing{
    border: 1px solid gray;
    box-shadow: 2px 2px 6px gray;
}
.anchors{
    text-decoration: none;
    color: black; 
}
.anchors1{
    text-decoration: none;
}
.sizing{
    /* font-family: roboto; */
    font-size: 30px;
}
.res-prj{
    font-size: 27px;
}